body {
    display: flex;
}

.sidebar {
    background-color: lightgray;
    width: 360px;
    padding: 10px;
    display: inline-block;
}

.main {
    width: 860px;
    padding: 15px;
    display: inline-block;
}

.current {
    width: 100%;
    border: 1px solid gray;
}

.forecast {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.forecast div {
    background-color: blue;
    color: white;
    width: 15%;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}